
header a{
	text-decoration: none;
}
header li {
	display: inline;
}
nav li a:hover{
	text-decoration:underline;
	color: black;
}

header h1{
	font-family: 'Nunito', sans-serif;

}
.container_12{
	background-color:#808080;
}
div h2{
	background-color :#ff3399;

}
.main a{
	display: inline;
	text-decoration:none;
	padding: 10px;
}
.main li{
	display: inline;
}
.main ul a:hover{
	text-decoration:underline;
	color: black;
}

.wrap{
	background-color: #b3b3b3
}